/******************** règles communes **********************/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  list-style-type: none;
}
h3 {
  font-style: bold;
}
img {
  object-fit: cover;
}
/********************************* header **********************/
.logo__header {
  display: flex;
  justify-content: center;
  padding: 3.2vh 0 2.2vh 0;
}
/******************************** main **************************/
#link_map {
  height: 55px;
  width: 100%;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.2 rem;
  font-weight: bold;
}
.fa-map-marker-alt {
  transform: translateX(-30px);
}
.meta {
  text-align: center;
  background-color: rgb(246, 246, 246);
}
h1 {
  padding: 4vh 3vh 1.5vh 3vh;
}
.phrasing {
  padding: 0 4vh 4vh 4vh;
}
/******************************* boutton **************************/
button {
  height: 50px;
  width: 220px;
  background-color: #9356dc;
  border-radius: 30px;
  color: white;
  border: solid #9356dc;
  box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.36);
}
.button {
  display: flex;
  justify-content: center;
}
.btn {
  margin-bottom: 7vh;
  font-size: 1rem;
}
/******************************** choise__part ***********************/
.choice__part {
  display: flex;
  flex-direction: column;
  padding: 8vw 0;
}
.choice__part h2 {
  margin: 0 0 3vw 10vw;
}
aside ol {
  display: flex;
  flex-direction: column;
}
aside li {
  display: flex;
  justify-content: center;
}
.choice__part li a {
  display: flex;
  background-color: rgb(246, 246, 246);
  width: 300px;
  height: 50px;
  border-radius: 15px;
  align-items: center;
  margin: 2vw 0;
  box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.36);
}
.choice__part a:hover {
  background-color: rgb(246, 246, 246);
}
.choice__part a:hover i {
  color: #9356dc;
}
.choice__part p {
  font-weight: bold;
}
.choice__part i {
  margin-left: 30px;
  color: #616161;
  font-size: 1.1rem;
}
.fa-mobile-alt {
  margin-right: 35px;
}
.fa-list-ul {
  margin-right: 29px;
}
.fa-store {
  margin-right: 26px;
}
/****************************** restaurant part ***********************/
.article__pic {
  background-color: rgb(246, 246, 246);
  padding: 2.7vh;
  display: flex;
  flex-direction: column;
}
.article__pic h2 {
  margin-top: 2vh;
  font-style: bold;
}

figure {
  display: flex;
  flex-direction: column;
  height: 240px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.36);
  margin: 2vh 0 2vh 0;
}
figure img {
  height: 70%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
figure figcaption {
  padding: 2.2vh 0 2.2vh 1.5vh;
}
figcaption p {
  margin-top: 0.6vh;
}

/********************************* footer *************************/
footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 2.5vh;
}
footer a {
  color: white;
}
footer h2 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 2vh;
}
footer li {
  margin: 1vh 0;
}
.fa-utensils {
  padding-right: 3vw;
}
.fa-hands-helping {
  padding-right: 1.5vw;
}
/*************************** pages restaurants *********************/
.fa-arrow-left {
  font-size: 1.7rem;
  position: absolute;
  margin: 25px;
}
.main__pic {
  height: 350px;
  width: 100%;
}
.h1__pages {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.meal {
  border-radius: 20px 20px 0 0;
  background-color: rgb(246, 246, 246);
}
.meal header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 7vw;
}
.meal i {
  font-size: large;
  color: rgb(136, 136, 136);
}
.meal__patch {
  display: flex;
  flex-direction: column;
}
.meal__patch h4 {
  font-weight: 200;
  margin: 5vw 0 0 5vw;
}
.dish__patch {
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.36);
  height: 60px;
  width: 90%;
  border-radius: 15px;
  justify-content: space-between;
  margin: auto;
  margin-top: 2.5vw;
}
.text {
  padding: 2vw;
}
.price {
  align-self: flex-end;
  padding: 2vw;
}
.meal button {
  margin: 9vw 0 15vw 0;
}
